body {
    background-image: url("/assets/img/wrap/bg_header1.png");
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-position: top center;
}
.wrap {
}

.header {
}

.header__logo-and-search {
    margin-bottom: 15px;
}
.header__logo-and-search {
    padding-top: 50px;
}

.header__logo {
}

.header__search {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.header__search-category {
    position: relative;
}

.header__search-category-btn {
    font-size: 2rem;
    background-color: #fff;
    width: 45px;
    height: 40px;
    text-align: center;
    display: block;
    cursor: pointer;
}

.header__search-category-btn i {
    line-height: 40px;
}

#header__search-category-checkbox {
    display: none;
}

#header__search-category-checkbox:checked ~ .header__search-category-list {
    height: 200px;
    padding: 15px;
    border-top: 1px solid #ccc;
}

.header__search-category-list {
    min-width: 200px;
    height: 0;
    background-color: #fff;
    box-shadow: 3px 3px 0 rgb(0 0 0 / 20%);
    padding: 0 15px;
    position: absolute;
    top: 100%;
    overflow-y: scroll;
    transition: all 0.3s ease-out 0s;
}

.header__search-category-list::-webkit-scrollbar {
    width: 10px;
}
.header__search-category-list::-webkit-scrollbar-track {
    display: none;
}
.header__search-category-list::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 10px;
}
.header__search-category-list::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

.header__search-category-list > a {
    display: block;
    height: 2rem;
}

.header__search-category-item {
    color: var(--primary-text-color);
    font-size: 1.4rem;
    line-height: 2rem;
}

.header__search-category-item:hover {
    color: var(--primary-color);
}

.header__search-input {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    height: 40px;
    padding: 0 55px 0 15px;
    width: 250px;
    outline: none;
}

.header__search-input::placeholder {
    color: #fff;
}

.header__search-icon {
    font-size: 1.5rem;
    background: rgba(0, 0, 0, 0.3);
    width: 45px;
    height: 40px;
    text-align: center;
    transition: background-color linear 0.3s;
}

.header__search-icon:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

.header__search-icon i {
    color: #fff;
    line-height: 40px;
}

/* navbar + cart */
.header__navbar-and-cart {
    padding-top: 18px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.header__navbar {
    display: flex;
    position: relative;
}

.header__navbar-item {
    margin-right: 35px;
    /* padding-bottom: 20px; */
}

.header__navbar-item-text {
    position: relative;
}

.header__navbar-item-text:hover {
    color: #fff;
}
.header__navbar-item-text::before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    top: 100%;
    background: red;
    opacity: 0;
}
.header__navbar-item.header__navbar-item--active > a {
    color: var(--primary-color);
}

.header__navbar-item > a {
    color: #cecece;
    font-size: 1.4rem;
    font-weight: 700;
}

/* Subnav */
.header__navbar-item:hover .header__subnav {
    opacity: 1;
    visibility: visible;
    top: 200%;
}
.header__navbar-item:hover .header__navbar-item-triangle {
    opacity: 1;
    visibility: visible;
    top: 28px;
}

.header__subnav {
    width: 970px;
    background-color: #fff;
    padding: 25px 10px;
    box-shadow: 0 3px 5px -1px #c1c1c1;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 30px;
    z-index: 10;
    top: 500%;
    transition: all 0.5s ease-out 0s;
}

.navbar__has-subnav--small {
    position: relative;
}

.header__subnav--small {
    width: 250px;
    left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header__subnav-link {
    padding: 8px 10px;
    width: 100%;
}

.header__subnav-link a {
    color: var(--secondary-text-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
}

.header__subnav-link a:hover {
    color: var(--primary-color);
}

.header__navbar-item-triangle {
    position: absolute;
    top: 76px;
    visibility: hidden;
    opacity: 0;
    left: 40%;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #fff;
    z-index: 10;
    transition: all 0.5s ease-out 0s;
}

.header__subnav-item {
}

.header__subnav-img {
    overflow: hidden;
}

.header__subnav-img:hover img {
    transform: scale(1.2);
}

.header__subnav-img img {
    width: 100%;
    transition: all 0.3s linear 0s;
}

.header__subnav-title {
    font-size: 1.4rem;
    color: #333;
    font-weight: normal;
    margin: 10px 0;
}

/* Subnav slider */
.subnav-slider-wrap {
    padding: 0 60px;
}

.header__subnav-slider-text {
    border-bottom: 1px solid #999;
    font-size: 1.4rem;
    margin: 0 0 18px;
    padding-bottom: 10px;
    text-transform: uppercase;
    padding-top: 0;
    text-align: center;
}

.subnav-slider__item {
    width: 160px;
    padding: 0 5px;
}
.slider-img {
    display: block;
    width: 100%;
    overflow: hidden;
}

.slider-img img {
    width: 100%;
    opacity: 1;
    transition: all linear 0.3s;
}

.slider-img:hover img {
    transform: scale(1.2);
    opacity: 0.9;
}

.slider-price {
    display: flex;
    font-size: 1.4rem;
    margin: 15px 0;
    justify-content: center;
}

.slider-price--old {
    color: var(--secondary-text-color);
    text-decoration: line-through;
    padding: 0 4px;
}

.slider-price--new {
    color: var(--primary-text-color);
    padding: 0 4px;
    font-weight: bold;
}

/* Subnav banner */
.subnav__banner {
    position: relative;
    margin-top: 20px;
}

.subnav__banner-img {
    width: 100%;
    display: block;
    position: relative;
}

.subnav__banner-img:hover::before,
.subnav__banner-img:hover::after {
    width: 100%;
    height: 100%;
}

.subnav__banner-img::before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
}

.subnav__banner-img::after {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
}

.subnav__banner-img img {
    width: 100%;
}
.subnav__banner-text {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    color: #fff;
    align-items: center;
    /* display: none; */
}

.subnav__banner-big-text {
    font-size: 3rem;
    margin-right: 20px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}

.subnav__banner-small-text {
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
    font-size: 2rem;
}

/* subnav 3 */
.subnav__wrap {
}

.subnav__link-img {
    width: 100%;
    display: block;
    position: relative;
}

.subnav__link-img img {
    width: 100%;
}

.subnav__link-img:hover::before,
.subnav__link-img:hover::after {
    width: 100%;
    height: 100%;
}

.subnav__link-img::before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
}

.subnav__link-img::after {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    transition: all 0.5s ease-out 0s;
}

.subnav__link-text {
    display: flex;
    margin-top: 20px;
}

.subnav__link-primary-text {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--primary-text-color);
    padding-right: 8px;
}

.subnav__link-secondary-text {
    font-size: 1.4rem;
    color: var(--secondary-text-color);
    padding-left: 8px;
    border-left: 2px solid var(--secondary-text-color);
}

.subnav__item-title {
    font-size: 1.4rem;
    color: var(--primary-text-color);
    padding-bottom: 10px;
    border-bottom: 1px solid var(--primary-text-color);
}

.subnav__item-category {
    margin-top: 20px;
}

.subnav__item-category-item {
    margin-bottom: 10px;
}

.subnav__item-category-item a {
    font-size: 1.4rem;
    display: block;
    line-height: 1.8rem;
    color: var(--secondary-text-color);
}

.subnav__item-category-item a:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.subnav__item-brands {
    margin-top: 20px;
}

.subnav__item-brand {
    width: 100%;
    text-align: center;
    display: block;
    height: 70px;
    border: 1px solid var(--primary-text-color);
    margin-bottom: 40px;
    overflow: hidden;
}

.subnav__item-brand:hover img {
    transform: scale(1.2);
}

.subnav__item-brand img {
    height: 100%;
    transition: all linear 0.3s;
}
/* Header cart and user */
.header__cart-and-user {
    display: flex;
    justify-content: flex-end;
}

.header__user-icon,
.header__cart-icon {
    width: 30px;
    position: relative;
    cursor: pointer;
}

.header__user-icon i,
.header__cart-icon i {
    font-size: 1.6rem;
    color: #fff;
}

.header__user-icon::after {
    content: "";
    display: block;
    height: 20px;
    width: 100%;
    position: absolute;
    right: 25%;
}

.header__cart-icon::after {
    content: "";
    display: block;
    height: 20px;
    width: 100%;
    position: absolute;
    right: 25%;
}

.header__user-icon:hover .header__user-triangle {
    opacity: 1;
    visibility: visible;
    top: 28px;
}

.header__user-triangle {
    position: absolute;
    top: 76px;
    visibility: hidden;
    opacity: 0;
    left: 1px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #fff;
    z-index: 10;
    transition: all 0.5s ease-out 0s;
}

.header__cart-icon:hover .header__cart-triangle {
    opacity: 1;
    visibility: visible;
    top: 28px;
}

.header__cart-triangle {
    position: absolute;
    top: 76px;
    visibility: hidden;
    opacity: 0;
    left: 4px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 7px solid #fff;
    z-index: 10;
    transition: all 0.5s ease-out 0s;
}

.header__user-icon:hover .header__user-subnav {
    opacity: 1;
    visibility: visible;
    top: 200%;
}

.header__user-subnav {
    width: 200px;
    background-color: #fff;
    padding: 24px 15px;
    box-shadow: 0 3px 5px -1px #c1c1c1;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: -30px;
    z-index: 10;
    top: 500%;
    transition: all 0.5s ease-out 0s;
}

.header__user-subnav-item {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 7px 0px;
}

.header__user-subnav-item:hover .header__user-subnav-icon i,
.header__user-subnav-item:hover .header__user-subnav-text {
    color: var(--primary-color);
}

.header__user-subnav-icon {
    padding: 0 15px;
}

.header__user-subnav-icon i {
    color: #666;
}

.header__user-subnav-text {
    font-size: 1.4rem;
    color: #666;
}

.header__cart-quantity {
    color: var(--primary-color);
    background-color: #000;
    position: absolute;
    font-size: 1.2rem;
    width: 17px;
    height: 17px;
    line-height: 17px;
    top: -60%;
    right: 5%;
    text-align: center;

    border-radius: 50%;
}

.header__cart-icon:hover .header__cart-subnav {
    opacity: 1;
    visibility: visible;
    top: 200%;
}

.header__cart-subnav {
    width: 300px;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 3px 5px -1px #c1c1c1;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: -0;
    z-index: 10;
    top: 500%;
    transition: all 0.5s ease-out 0s;
    font-size: 1.4rem;
    color: #333;
}

.cart-subnav__added-items {
    margin: 10px 0 30px;
}

.cart-subnav__total {
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}

.cart-subnav__total-price {
    font-weight: 700;
    font-size: 1.6rem;
}

.cart-subnav-buttons {
    display: flex;
    justify-content: center;
}

.cart-subnav-button {
    display: block;
    padding: 13px 21px;
    background: var(--primary-color);
    margin: 2px;
    color: #fff;
}

.cart-subnav-button:hover {
    background: rgb(252, 162, 44);
}

/* Main content */
.main-content {
    display: none;
}
